<launch>
    <include file="$(find turtlmap)/launch/turtlmap.launch">
        <arg name="bag_dirs" value="/root/bags/log2"/>
        <arg name="bag1" value="/root/bags/log2/log2.bag"/>
        <arg name="bag2" value="/root/bags/log2/log2_imu.bag"/>
        <arg name="bag3" value="/root/bags/log2/log2_zed.bag"/>
        <arg name="start_time" value="15"/>
    </include>
</launch>
